@using System.Linq
@model SessionTest.ViewModels.PackageViewModel

@{
    ViewData["Title"] = "Your package";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var orders = Model.Orders.ToList();
    ViewBag.Cart = Model;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h3 class="text-center">Package number: @Model.Id</h3>
<hr class="mb-4"/>
@if (orders.Any())
{
    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="align-middle text-center"><h3>Order Id</h3></th>
                    <th scope="col" class="align-middle text-center"><h3>Product name</h3></th>
                    <th scope="col" class="align-middle text-center"><h3>Quantity</h3></th>
                    <th scope="col" class="align-middle text-center"><h3>Price</h3></th>
                    <th scope="col" class="align-middle text-center"><h3>Actions</h3></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in orders)
                {
                    <tr>
                        <th scope="row" class="align-middle text-center"><h5>@order.Id</h5></th>
                        <td class="align-middle text-center"><h5>@order.Product.Name</h5></td>
                        <td class="align-middle text-center"><h5>@order.Quantity</h5></td>
                        <td class="align-middle text-center"><h5>$ @order.Product.Price</h5></td>
                        <td class="align-middle text-center">
                            <form method="post" asp-action="Details" asp-controller="Order" asp-route-id="@order.Id" >
                                <button type="submit" class="btn btn-dark btn-sm">Details</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <hr />
    <div class="d-flex justify-content-between">
        <h2>Total:</h2>
        <h2>$ @Model.Amount</h2>
    </div>
    <hr />
    <div class="d-flex justify-content-around">
        <a asp-action="Index" asp-controller="Home" class="btn btn-dark">Home</a>
    </div>

}